
.ChangeInfo {
    width: 475px;
    height: 765px;
  
    border-radius: 10px;
  
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  
    position: relative;
    overflow:hidden;
    overflow:auto;
       cursor: pointer;
 
       overflow-x:hidden;
       overflow-y: scroll;


    .ImgProfile {
      width: 100%;
      height: 100%;
  
      border-radius: 10px;
  
      background-position: center;
      background-size: cover;
    }
  
    .CardMask {
  
      border-radius: 10px;
  
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      
    }
  
    .CardBody {
      color: #000;
      font-size: 2rem; width: 475px;
      height: 765px;
    
  
      position: relative;
     
  
      .CardInfo {
        display: flex;
        align-items: baseline;
        .CardName{
          font-size: 2.5rem;
          font-weight: 600;
          flex-wrap: wrap;
          color: #2c2c2c;
        }
        .CardAge {
          font-size: 2rem;
          color: #2c2c2c;
          white-space: nowrap;
          margin-left: 15px;
        }
      }
      .About{
        margin-top:30px;
        margin-left: 10px;
        
        label{
          color: #5c5c5c;
          font-size: 0.8em;
          font-weight: bold;
        }
      
      .textAbout{
        width:102% ;
        height: 100px;
        border: #fff;
        margin-left: -10px;
        margin-right: -10px;
        outline: none;
        font-size: 0.6em;

      }
      .nameAbout,.ageAbout,.hobbyAbout,.ganderAbout{
        width:102% ;
        height: 50px;
        border: #fff;
        margin-left: -10px;
        margin-right: -10px;
        outline: none;
        font-size: 0.6em;

      }
     }
  
  
    }
 
    .btnSave{
      background: linear-gradient(262deg, #ff7854, #fd267d);
      width: 130px;
      height: 50px;
      border-radius: 30px;
      font-size: 0.8em;
      text-align: center;
      padding-top: 10px;
      position: fixed;
      bottom: -30px;
      color: #fff;
      font-weight: bold;
     left: 56%;
      top:80%;  
      text-decoration: none;
      outline: none;

     
    }
    select {
      /*for firefox*/
      -moz-appearance: none;
      /*for chrome*/
      -webkit-appearance:none;
      appearance: none;
      width: 100%;
      height: 20px;
    }
    /*for IE10+*/
    select::-ms-expand {
        display: none;
    }
    .custom-select{
      width: 100%;
    }
  }
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}