.MainProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    width: 100%;
    height: 100vh;
    max-height: 100vh;
  
    background-color: #f2f2fe;
  
    .ButtonsArea {
      display: flex;
  
      margin-top: 30px;
    }
  }
  