
.SelectHobby {
    width: 375px;
    height: 667px;
  
    border-radius: 10px;
  
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  
    position: relative;
    overflow:hidden;
    overflow:auto;
       cursor: pointer;
 
       overflow-x:hidden;
       overflow-y: scroll;


    
  
    .CardMask {
  
      border-radius: 10px;
  
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      
    }
  
    .CardBody {
      color: #2c2c2c;
      font-size: 1.5em; width: 375px;
      height: 765px;
    
  
      position: relative;
      
     
  .EditHobby{
      background: #fff;
      text-align: center;
      font-weight: 600;
      color: #2c2c2c;
      padding:10px 0;
      .Done{
      color: #fd267d;
      text-align: right;
      position: relative;
     font-size: 0.8em;
      right:-50px;
    }
  
  }
  .DesH{
    font-size: .7em;
}
.NumberHobby{
    font-size: .7em;
    font-weight: 700;
    padding: 30px 0;
    .num{
        color: #fd267d;
        text-align: right;
        position: relative;
        right:-220px;
    }
      
}
.hobby{
    border-radius: 50px;
    padding:3px 12px;
    margin: 10px;
    color: #5c5c5c;
    border: #5c5c5c 1px solid;
    background: #fff;
    font-size: .7em;
    outline: none;

    
}
.hobby:focus{
    color: #ff7854;
    border:  #fd267d 1px solid; 
}
  .linkD{
      text-decoration: none;
  }
    }
 
  }
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}