.Card-Info{
    position: absolute;
    bottom: -29px;
    left: -19px;
    border-radius: 10px;
    background-color: whitesmoke;
    color: #000000;
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.241), 0 6px 20px 0 rgba(0, 0, 0, 0.241);
    padding: 10px;
    display: block;
    width: 376px;
}
.card-info .container{
    height: 50%;
}
.col img{
    margin: 10px 0;
}
.Btn-Down{
    position: absolute;
    top: -20px;
    right: 10px;
    background-image: linear-gradient(to bottom left, #fa2b7a, #ff8064);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}
.Img-Gallery{
    padding: 10px ;
    margin: 0 auto;
}
.Icon-Locate{
    top: 17% !important;
    left: 5px !important;
    
}
.Located{
    padding-left: 20px;
    font-size: 15px;
    color: #514f4f;
}
.Img-Gallery img{
    border-radius: 5px;
}