.ActionInfo {
  display: flex;

  margin-top: 3em;

  .recsToolbar {
    display: flex;
    align-items: center;

    color: #545454;
    font-weight: bold;

    margin: 0 7px;

    .Vam {
      margin-left: 5px;
    }
  }
}
