.Card {
  width: 375px;
  height: 565px;

  border-radius: 10px;

  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);

  position: relative;

  cursor: pointer;

  .CardImage {
    width: 100%;
    height: 100%;

    border-radius: 10px;

    background-position: center;
    background-size: cover;
  }

  .CardMask {
    background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(255, 255, 255, 0) 35%,
      rgba(255, 255, 255, 0) 100%
    );

    border-radius: 10px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .CardBody {
    color: #fff;
    font-size: 2rem;

    position: absolute;
    bottom: 5%;
    left: 5%;
    width: 355px;

    .CardInfo {
      display: flex;
      align-items: baseline;

      .CardAge {
        font-size: 1.6rem;
        color: rgb(185, 185, 185);

        margin-left: 15px;
      }
    }
    .Icon-Down {
      position: relative;
      top: -9%;
      left: 4% !important;
    }

    .CardDescription {
      font-size: 1.2rem;

      margin-top: 5px;
    }

    svg {
      position: absolute;
      right: 5%;
      top: 5%;

      transition: all 0.3s ease-out;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
